{% extends 'pages/subject/problem_master.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <table>
            <tr><th>Task</th><th>Deadline</th><th>Time Remaining</th><th>Current Payment for Task</th></tr>
            {% for task in flash.tasks %}
                <tr>
                    <td>{{ task.id }}</td><td>{{ task.deadline }}</td>
                    <td>{{ task.deadline_countdown }}</td><td>{{  task.zero_payoff_countdown }}</td>
                    <td>{{ task.current_payoff }}</td><td><button name="">Begin</button> </td>
                </tr>
        </table>
        <p>Note: The penalty rate is $1 per hour until the payoff is $0.</p>
    </div>
</div>
{% endblock %}
