{% extends 'pages/subject/problem_master.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Tasks</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover" id="subjects">
            <tr>
                <th>Task</th><th>Deadline</th><th>Time Remaining</th>
                <th>Current Payment for Task</th><th>Current Payoff</th><th></th>
            </tr>
            {% for row in flash.table %}
                <tr>
                    <td>{{ row.number }}</td>
                    <td>{{ row.deadline }}</td>
                    <td>{{ row.deadline_countdown }}</td>
                    <td>{{  row.deadline_zero }}</td>
                    <td>{{ row.current_payoff }}</td>
                    <td><a class="btn btn-default" href="{{ row.url }}">Begin</a> </td>
                </tr>
            {% endfor %}
        </table>
        <p>Note: The penalty rate is $1 per hour until the payoff is $0.</p>
    </div>
</div>
{% endblock %}
