{% extends 'pages/subject/problem_master.twig' %}

{% block body %}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-{{ flash.kind }}">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ flash.header }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ flash.body }}</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Tasks</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover" id="subjects">
            <tr>
                <th>Task</th><th>Deadline</th><th>Time Remaining</th><th>Payoff</th><th></th>
            </tr>
            {% for row in rows %}
                <tr class="{{ row.access ? : 'text-muted' }}">
                    <td>{{ row.number }}</td>
                    <td>
                        {% if row.state == state.fixed or row.state == state.penalty %}
                            {{ row.deadline }}
                        {% endif %}
                    </td>
                    <td>
                        {% if row.state == state.fixed or row.state == state.penalty %}
                            {{ row.countdown }}
                        {% endif %}
                    </td>
                    <td>{{ row.pay }}</td>
                    <td>
                    {% if row.access %}
                        <a class="btn {{ row.state == state.fixed ? 'btn-primary' : 'btn-default'  }}" href="{{ row.url }}">Work on Task {{ row.number }}</a>
                    {% else %}
                        <span>
                        {% if row.state == state.expired %}
                            This task has expired.
                        {% elseif row.state == state.complete %}
                            This task has been completed.
                        {% else %}
                            This task is currently unavailable.
                        {% endif %}
                        </span>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>Note 1: The penalty rate is ${{ rate }} per hour until the payoff is $0.</p>
        <p>Note 2: All times are displayed based on the current time in New York City.</p>
    </div>
</div>
{% endblock %}

{% block js %}
    {% if flash.error_found or flash.dialog %}
        <script type="text/javascript">
            $(window).load(function(){
                $('#myModal').modal('show');
            });
        </script>
    {%  endif %}
{% endblock %}
