<!DOCTYPE html>
<html ng-app>
<head>
    <title>Experiment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ baseUrl() }}/resources/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ baseUrl() }}/resources/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ baseUrl() }}/resources/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="{{ baseUrl() }}/resources/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

    <script type="text/javascript" src="{{ baseUrl() }}/resources/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{ baseUrl() }}/resources/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="{{ baseUrl() }}/resources/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ baseUrl() }}/resources/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="{{ baseUrl() }}/resources/jquery-timepicker-jt/jquery.timepicker.min.js"></script>
    <script type="text/javascript" src="{{ baseUrl() }}/resources/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>

