{% extends 'pages/subject/problem_master.twig' %}

{% block body %}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error Found</h4>
            </div>
            <div class="modal-body">
                <p>One or more of the phrases are not in alphabetical order. Please evaluate your submission and re-submit it.</p>
            </div>
        </div>
    </div>
</div>

<div id="heading">
    <p>As {{ flash.parameters.ctime }} the payoff for completing task {{ parameters.tasknumber }} is ${{ parameters.taskpayoff }}.
    As of {{ parameters.ctime }} the payoff for completing the currently available task(s) are:</p>
    <ul>
        {% for t in parameters.other_tasks %}
            <li>Task {{ t.number }}: ${{ t.payoff }}</li>
        {% endfor %}
    </ul>
    <p>In order to complete this task you must solve the problem given to you by entering the words below in alphabetical order,
    with the following restrictions:</p>
    <ul>
        <li class="star">You must complete this task by {{ parameters.task_deadline }} (Eastern).</li>
        <li class="star">You must solve this problem by {{ parameters.problem_deadline }} (Eastern), or you will be issued a new one.</li>
        <li class="warn">If you close or refresh your browser, or log in again at a later time, you will be issued a new problem. </li>
    </ul>
</div>
<div class="float_center">
    <form action="" method="post">
        <input type="hidden" name="task_number" value="{{ parameters.task_number }}"/>
        <div class="submit_button">
              <label>Select the SUBMIT button to submit the solution to you problem:</label>
              <input type="submit" name="button" value="Submit Task Solution" class="btn btn-success"/>
              <div class="error">
                <label class="error"></label>
              </div>
        </div>
        <div class="col-md-2">
            <!-- PHRASES (1-50)-->
            {% for i in 0..50 %}
            <div class="phrases">
                <label>{{ i+1 }}</label>
                <input type="text" class="textfield" maxlength="20" name="solution[{{ i }}]" placeholder="" value="{{ parameters.phrases[i] }}" />
            </div>
            {% endfor %}
        </div>
        <div class="col-md-5">
            <img src ="{{ "../img/#{parameters.problem_url}" }}" \>
        </div>
        <div class="col-md-2">
            <!-- PHRASES (1-50)-->
            {% for i in 51..100 %}
            <div class="phrases">
                <label>{{ i+1 }}</label>
                <input type="text" class="textfield" maxlength="20" name="solution[{{ i }}]" placeholder="" value="{{ parameters.phrases[i] }}" />
            </div>
            {% endfor %}
        </div>

        <!-- PHRASES 101-150)-->
        <div class="col-md-2">
            {% for i in 101..149 %}
            <div class="phrases">
                <label>{{ i+1 }}</label>
                <input type="text" class="textfield" maxlength="20" name="solution[{{ i }}]" placeholder="" value="{{ parameters.phrases[i] }}" />
            </div>
            {% endfor %}
        </div>


    </form>
</div>
{% endblock %}

{% block js %}
    {% if parameters.errors %}
        <script type="text/javascript">
            $(window).load(function(){
                $('#myModal').modal('show');
            });
        </script>
    {%  endif %}
{% endblock %}
