{% extends 'pages/experimenter/experiment/master.twig' %}

{% block body %}
    {% include 'pages/experimenter/experiment/navbar.twig' %}
    <div class="container">

        <div class="page-header">
            <h3>Experiment Dashboard</h3>
        </div>

        <table class="table table-striped" id="subjects">
            <tbody>
            <tr><th>Treatment ID</th><th>Type</th><th>Size</th><th>Tasks</th><th></th></tr>
             {%  for row in rowData %}
            <tr>
                <td>{{ row.treatment.id }}</td>
                <td>{{ row.treatment.type }}</td>
                <td>Size</td>
                <td>
                    {% for task in row.tasks %}
                       <span class="wrap">Task: {{ task.number }}, Payoff: {{ task.payoff }}</span><br/>
                    {% endfor %}
                </td>
                <td><a href="{{ baseUrl }}/experiment/treatment/{{ treatment.id }}">Manage</a></td>
            </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
