{% extends 'pages/experimenter/experiment/master.twig' %}
{% block body %}
    {% include 'pages/experimenter/experiment/navbar.twig' %}
    <div class="container">
        <div class="jumbotron">
            <div>
                <h2>New Session</h2>
            </div>
            <form class="form-horizontal" action="{{  currentUrl()  }}" method="post">
                <fieldset>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Subjects</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="size" value="{{  size }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Subject Deadline</label>
                        <div class="checkbox col-xs-9">
                            <label>
                                <input name="subject_deadline_enabled" type="checkbox"> Enabled
                            </label>
                        </div>
                    </div>

                    <h4>Task Parameters</h4>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" >Task 1 Deadline</label>
                        <div class="col-xs-9">
                            <input type='text' class="form-control dt" type="datetime" placeholder="MM/DD/YYYY HH:MM AM-PM" name="task_one_deadline" value="{{ task_one_deadline }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Task 2 Deadline</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control dt" placeholder="MM/DD/YYYY HH:MM AM-PM" name="task_two_deadline" value="{{  task_two_deadline  }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Task 3 Deadline</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control dt" placeholder="MM/DD/YYYY HH:MM AM-PM" name="task_three_deadline" value="{{  task_three_deadline  }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Payoff</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control dt" placeholder="" name="payoff" value="{{  payoff  }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Completion Time Limit</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control time" name="time_limit" placeholder="Minutes" value="{{  time_limit  }}" />
                        </div>
                    </div>

                    <h4>Post Deadline</h4>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Penalty Rate</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control"  name="penalty" value="{{  penalty  }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-8">
                                <button type="submit" class="btn btn-primary">Create A New Session</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('.dt').datetimepicker();
            $('.time').datetimepicker({ format: 'm'});
        });
    </script>
{% endblock %}
