{% extends 'pages/subject/master.twig' %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <form action="{{ currentUrl() }}" method="post">
            <input type="hidden" name="form_type" value="general_academic" />
            <div class="form-group">
                <label>Your Major</label>
                <input type="text" class="form-control" name="major" value="{{ flash.entries.major }}"/>
                {% if flash.errors.major %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in flash.errors.major %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="question">Your GPA</label>
                <input type="text" class="form-control" name="gpa" value="{{ flash.entries.gpa }}"/>
                {% if flash.errors.gpa %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in flash.errors.gpa %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="question">Number of courses you are attending</label>
                <input type="text" class="form-control" name="number_courses" value="{{ flash.entries.number_courses }}" />
                {% if flash.errors.number_courses %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in flash.errors.number_courses %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="question">Number of clubs you are affiliated with</label>
                <input type="text" class="form-control" name="number_clubs" value="{{ flash.entries.number_clubs }}"/>
                {% if flash.errors.number_clubs %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in flash.errors.number_clubs %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Next</button>
            </div>
            {%  if flash.errors %}
                <div class="alert alert-danger">
                    <strong>Oops!</strong> It looks like there are a few errors in your submission. Please check your entries and try again.<br><br>
                    <ul>
                        {% for error in flash.errors.rate %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </form>
    </div>

</div>
{% endblock %}
