{% extends 'pages/subject/survey/form.twig' %}

{% block formbody %}
<div class="panel panel-default">
    <div class="panel-heading">
        External Obligations
    </div>
    <div class="panel-body">
        <form action="{{ currentUrl() }}" method="post">

            {# Employment (yes,no) ---------------------------------------------------------------------------- #}
            <div class="form-group">
                <label>Are you presently employed?</label>
                <select name="employed" id="workin" class="form-control">
                    <option value="">Select One</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
                {% if flash.errors.employed %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in flash.errors.employed %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            {# Work Obligations ---------------------------------------------------------------------------- #}
            <fieldset id="getinpaid">
                <legend>Work</legend>
                {# Work Hours #}
                <div class="form-group">
                    <label for="ob">From {{ parameters.start }} to {{ parameters.end }}, how much time (in hours) do you expect to allocate your job?</label>
                    <input type="text" class="form-control" id="ob" name="hours_work" value="{{ flash.entries.hours_work }}" />
                    {% if flash.errors.hours_work %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for error in flash.errors.hours_work %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                {# --- Work Schedule: Static #}
                <div id="major-group" class="form-group">
                    <label for="mdt">Enter your work schedule over this time period</label>
                    <div class="form-inline row">
                        <div class="form-group">
                            <div class="date input-group">
                                <input id="mdt" type="text" class="form-control work_start_date_time" placeholder="Start Date Time" name="work_start_date_time[0]" value="{{ flash.entries.work_start_date_time.0 }}" />
                            </div>
                            <div class="date input-group">
                                <input id="mdt" type="text" class="form-control work_end_date_time" placeholder="End Date Time" name="work_end_date_time[0]" value="{{ flash.entries.work_end_date_time.0 }}" />
                            </div>
                        </div>
                        <button class="form-control btn btn-info add-btn fa fa-plus" type="button" id="work"></button>
                        {% if flash.errors.work_start_date_time.0 %}
                            {% for error in flash.errors.work_start_date_time.0 %}
                                <span class="alert alert-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                        {% if flash.errors.work_end_date_time.0 %}
                            {% for error in flash.errors.work_end_date_time.0 %}
                                <span class="alert alert-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                {# --- Work Schedule: Dynamic #}
                <div id="work_collection">
                    {% if flash.entries.work_start_date_time %}
                        {% for entry in flash.entries.work_start_date_time %}
                            {% if loop.index > 1 and entry is not empty %}
                                <div class="form-inline row">
                                    <div class="input-group date">
                                        <input type="text" class="form-control work_start_date_time" placeholder="mm/dd/yyyy hh:mm am/pm" name="work_start_date_time[{{ loop.index }}]" value = "{{ entry }}" />
                                        <input type="text" class="form-control work_end_date_time" placeholder="mm/dd/yyyy hh:mm am/pm" name="work_end_date_time[{{ loop.index }}]" value = "{{ flash.entries.work_end_date_time[loop.index]  }}" />
                                    </div>
                                    <button class="form-control btn btn-danger fa fa-minus remove-item" type="button"></button>
                                    {% if flash.errors.work_start_date_time[loop.index] %}
                                        {% for error in flash.errors.work_start_date_time[loop.index] %}
                                            <span class="alert alert-danger">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                    {% if flash.errors.work_end_date_time[loop.index] %}
                                        {% for error in flash.errors.work_end_date_time[loop.index] %}
                                            <span class="alert alert-danger">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>

            {# Social Obligations ---------------------------------------------------------------------------- #}
            <fieldset>
                <legend>Social</legend>
                {# Hours of Social Obligations #}
                <div class="form-group">
                    <label for="sob">From {{ parameters.start }} to {{ parameters.end }}, how much time (in hours) do you expect to your social obligations or recreational activities?</label>
                    <input type="text" class="form-control" id="sob" name="hours_social" value="{{ flash.entries.hours_social }}" />
                    {% if flash.errors.hours_social %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for error in flash.errors.hours_social %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                {# --- Social Schedule: Static #}
                <div id="major-group" class="form-group">
                    <label for="mdt">Enter the time commitments for social obligations over this time period</label>
                    <div class="form-inline row">
                        <div class="form-group">
                            <div class="date input-group">
                                <input id="mdt" type="text" class="form-control social_start_date_time col-md-8" placeholder="Start Date Time" name="social_start_date_time[0]" value="{{ flash.entries.social_start_date_time.0 }}" />
                            </div>
                            <div class="date input-group">
                                <input id="mdt" type="text" class="form-control social_end_date_time col-md-8" placeholder="End Date Time" name="social_end_date_time[0]" value="{{ flash.entries.social_end_date_time.0 }}" />
                            </div>
                        </div>
                        <button class="form-control btn btn-info add-btn fa fa-plus" type="button" id="social"></button>
                        {% if flash.errors.social_start_date_time.0 %}
                            {% for error in flash.errors.social_start_date_time.0 %}
                                <span class="alert alert-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                        {% if flash.errors.social_end_date_time.0 %}
                            {% for error in flash.errors.social_end_date_time.0 %}
                                <span class="alert alert-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                {# --- Social Schedule: Dynamic #}
                <div id="social_collection">
                    {% if flash.entries.social_start_date_time %}
                        {% for entry in flash.entries.social_start_date_time %}
                            {% if loop.index > 1 and entry is not empty %}
                                <div class="form-inline row">
                                    <div class="form-group date">
                                        <input type="text" class="form-control social_start_date_time" placeholder="mm/dd/yyyy hh:mm am/pm" name="social_start_date_time[{{ loop.index }}]" value = "{{ entry }}" />
                                        <input type="text" class="form-control social_end_date_time" placeholder="mm/dd/yyyy hh:mm am/pm" name="social_end_date_time[{{ loop.index }}]" value = "{{ flash.entries.social_end_date_time[loop.index]  }}" />
                                    </div>
                                    <button class="form-control btn btn-danger fa fa-minus remove-item" type="button"></button>
                                    {% if flash.errors.social_start_date_time[loop.index] %}
                                        {% for error in flash.errors.social_start_date_time[loop.index] %}
                                            <span class="alert alert-danger">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                    {% if flash.errors.social_end_date_time[loop.index] %}
                                        {% for error in flash.errors.social_end_date_time[loop.index] %}
                                            <span class="alert alert-danger">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>

            {# Family Obligations ---------------------------------------------------------------------------- #}
            <fieldset>
                <legend>Family</legend>
                {# Hours of Family Obligations #}
                <div class="form-group">
                    <label for="fob">From {{ parameters.start }} to {{ parameters.end }}, how much time (in hours) do you expect to your social obligations or recreational activities?</label>
                    <input type="text" class="form-control" id="fob" name="hours_family" value="{{ flash.entries.hours_family }}" />
                    {% if flash.errors.hours_family %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for error in flash.errors.hours_family %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                {# --- Family Schedule: Static #}
                <div id="major-group" class="form-group">
                    <label for="mdt">Enter the time commitments for family obligations over this time period</label>
                    <div class="form-inline row">
                        <div class="form-group">
                            <div class="date input-group">
                                <input id="mdt" type="text" class="form-control family_start_date_time col-md-8" placeholder="Start Date Time" name="family_start_date_time[0]" value="{{ flash.entries.family_start_date_time.0 }}" />
                            </div>
                            <div class="date input-group">
                                <input id="mdt" type="text" class="form-control family_end_date_time col-md-8" placeholder="End Date Time" name="family_end_date_time[0]" value="{{ flash.entries.family_end_date_time.0 }}" />
                            </div>
                        </div>
                        <button class="form-control btn btn-info add-btn fa fa-plus" type="button" id="family"></button>
                        {% if flash.errors.family_start_date_time.0 %}
                            {% for error in flash.errors.family_start_date_time.0 %}
                                <span class="alert alert-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                        {% if flash.errors.family_end_date_time.0 %}
                            {% for error in flash.errors.family_end_date_time.0 %}
                                <span class="alert alert-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                {# --- Family Schedule: Dynamic #}
                <div id="family_collection">
                    {% if flash.entries.family_start_date_time %}
                        {% for entry in flash.entries.family_start_date_time %}
                            {% if loop.index > 1 and entry is not empty %}
                                <div class="form-inline row">
                                    <div class="form-group date">
                                        <input type="text" class="form-control family_start_date_time" placeholder="mm/dd/yyyy hh:mm am/pm" name="family_start_date_time[{{ loop.index }}]" value = "{{ entry }}" />
                                        <input type="text" class="form-control family_end_date_time" placeholder="mm/dd/yyyy hh:mm am/pm" name="family_end_date_time[{{ loop.index }}]" value = "{{ flash.entries.family_end_date_time[loop.index]  }}" />
                                    </div>
                                    <button class="form-control btn btn-danger fa fa-minus remove-item" type="button"></button>
                                    {% if flash.errors.family_start_date_time[loop.index] %}
                                        {% for error in flash.errors.family_start_date_time[loop.index] %}
                                            <span class="alert alert-danger">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                    {% if flash.errors.family_end_date_time[loop.index] %}
                                        {% for error in flash.errors.family_end_date_time[loop.index] %}
                                            <span class="alert alert-danger">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Next</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function() {
        var maxCollectionSize = 20;
        var collectionCounters = {'work':1, 'social':1, 'family':1};

        $('.add-btn').click( function(event) {
            var collectionId = event.target.id;
            var collectionSize = collectionCounters[collectionId];

            if (collectionSize <= maxCollectionSize) {
                var collectionInputItem = '<div class="form-inline row">' +
                        '<div class="form-group"><div class="date input-group">' +
                        '<input type="text" class="form-control ' + collectionId + '_start_date_time" placeholder="Start Date Time" name="' + collectionId + '_start_date_time['+ collectionSize + ']" />' +
                        '</div><div class="form-group"><div class="date input-group">' +
                        '<input type="text" class="form-control ' + collectionId + '_end_date_time" placeholder="End Date Time" name="' + collectionId + '_end_date_time['+ collectionSize + ']" />' +
                        '</div></div>' +
                        '<button class="form-control btn btn-danger fa fa-minus remove-item" type="button"></button>' +
                        '</div>';

                $('#' + collectionId + '_collection').append(collectionInputItem);


                collectionCounters[collectionId] = collectionSize + 1;
            }

            $('.work_start_date_time').datetimepicker({format: 'MM-DD-YYYY hh:mm a'});
            $('.work_end_date_time').datetimepicker({format: 'MM-DD-YYYY hh:mm a'});
            $('.social_start_date_time').datetimepicker({format: 'MM-DD-YYYY hh:mm a'});
            $('.social_end_date_time').datetimepicker({format: 'MM-DD-YYYY hh:mm a'});
            $('.family_start_date_time').datetimepicker({format: 'MM-DD-YYYY hh:mm a'});
            $('.family_end_date_time').datetimepicker({format: 'MM-DD-YYYY hh:mm a'});

        });

        $(document).on('click', 'button.remove-item', function() {
            $(this).parent('div').remove();
        });

        $("#workin").change(function(){
            console.log($("#workin :selected").text());
            if($("#workin :selected").text() == "No") {
                $("#getinpaid").fadeOut();
            }
            else if($("#workin :selected").text() == "Yes") {
               $("#getinpaid").fadeIn();
            }
        });
    });
</script>

<script>
    $('.work_start_date_time').datetimepicker({format: 'MM-DD-YYYY h:mm a'});
    $('.work_end_date_time').datetimepicker({format: 'MM-DD-YYYY h:mm a'});
    $('.social_start_date_time').datetimepicker({format: 'MM-DD-YYYY h:mm a'});
    $('.social_end_date_time').datetimepicker({format: 'MM-DD-YYYY h:mm a'});
    $('.family_start_date_time').datetimepicker({format: 'MM-DD-YYYY h:mm a'});
    $('.family_end_date_time').datetimepicker({format: 'MM-DD-YYYY h:mm a'});
</script>
{% endblock %}
