{% extends 'pages/subject/survey/form.twig' %}

{% block formbody %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Rank Statements
        </div>
        <div class="panel-body">
            <form action="{{ currentUrl() }}" method="post">
                <div class="form-group">
                    <h4>On a scale from 1 to 100, how likely do you think each of the following events are?</h4>
                </div>
                {% if flash.post.errors.semantic.scale %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in flash.post.errors.semantic.scale %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% for i in 0..3 %}
                    <div class="form-group">
                        <label for="t">I will complete exactly {{ parameters.num_tasks[i] }}.</label>
                        <input type="text" class="form-control" id="t" name="scale[{{ i }}]" value="{{ flash.post.entries.scale[i] }}" />
                        {% if flash.post.errors.scale[i] %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for error in flash.post.errors.scale[i] %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Next</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
