<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title></title>
	<link href='{{ baseUrl }}/css/login.css' rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="content">
		<div id="login_border">
			<h2>Experimenter Login</h2>
			<form action="{{ currentUrl() }}" method="post">
				<table cellpadding="2">
					<tr>
						<td>
							<label class="text_label">Login</label>
							<input type="text" class="text_field" value="{{ login }}" name="login" />
						</td>
					</tr>
                    {% for error in errors.login %}
                        <tr>
                            <td class="error">{{ error }}</td>
                        </tr>
                    {% endfor %}
<tr>
    <td>
        <label class="text_label">Password</label>
        <input type="password" class="text_field" value="{{ password  }}" name="password" />
    </td>
</tr>
<tr><td class="error">{{ password_error }}</td></tr>
<tr>
    <td><input type="submit" name="submit" value="Log In" class="submit_button" /></td>
</tr>
</table>
</form>
<label id="error">{{  general_error }}</label>
</div>
</div>
</body>
</html>
