{% extends 'pages/experimenter/experiment/master.twig' %}
{% block body %}
    {% include 'pages/experimenter/experiment/navbar.twig' %}
    <div class="container">
        <div class="page-header">
            <h3>New Treatment</h3>
            {%  if flash.errors %}
                <div class="alert alert-danger">
                    <strong>Oops!</strong> I looks like there are a few errors in your submission. Please check your entries and try again.<br><br>
                    <ul>
                        {% for error in flash.errors.rate %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="jumbotron">
            <form class="form-horizontal" action="{{  currentUrl()  }}" method="post">
                <input type="hidden" name="type" value="task:3_timeLimit_penalty_adjustableDeadline"/>
                <fieldset>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Subjects</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="size" value="{{  flash.entries.size }}"/>
                            {%  if flash.errors.size %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.size %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Subject Deadline</label>
                        <div class="checkbox col-xs-9">
                            <label>
                                <input name="deadlines" type="checkbox"> Enabled
                            </label>
                            {%  if flash.errors.deadlines %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.size %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <h4>Task Parameters</h4>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" >Task 1 Deadline</label>
                        <div class="col-xs-9">
                            <input type='text' class="form-control dt" type="datetime" name="taskOne" value="{{ flash.entries.taskOne }}"/>
                            {%  if flash.errors.taskOne %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.taskOne %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Task 2 Deadline</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control dt" placeholder="MM-DD-YYYY HH:MM AM-PM" name="taskTwo" value="{{  flash.entries.taskTwo  }}" />
                            {%  if flash.errors.taskTwo %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.taskTwo %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Task 3 Deadline</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control dt" placeholder="MM-DD-YYYY HH:MM AM-PM" name="taskThree" value="{{  flash.entries.taskThree  }}" />
                            {%  if flash.errors.taskThree %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.taskThree %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Payoff</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" placeholder="Tokens" name="payoff" value="{{  flash.entries.payoff  }}" />
                            {%  if flash.errors.payoff %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.payoff %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Completion Time Limit</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control time" name="timeLimit" placeholder="Minutes" value="{{  flash.entries.timeLimit  }}" />
                            {%  if flash.errors.timeLimit %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.timeLimit %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Penalty Rate</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control"  name="penaltyRate" value="{{  flash.entries.penalty  }}" />
                            {%  if flash.errors.penaltyRate %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.penaltyRate %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-8">
                                <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('.dt').datetimepicker({format: 'MM-DD-YYYY hh:mm a'});
        });
    </script>
{% endblock %}
