{% extends 'pages/experimenter/experiment/master.twig' %}
{% block body %}
    {% include 'pages/experimenter/experiment/navbar.twig' %}
    <div class="container">
        <div class="page-header">
            <h3>New Experiment Session</h3>
            {%  if flash.errors %}
                <div class="alert alert-danger">
                    <strong>Oops!</strong> I looks like there are a few errors in your submission. Please check your entries and try again.<br><br>
                </div>
            {% endif %}
        </div>
        <div class="jumbotron">
            <form class="form-horizontal" action="{{  currentUrl()  }}" method="post">
                <input type="hidden" name="type" value="task:3_timeLimit_penalty_adjustableDeadline"/>
                <fieldset>
                    <legend>Session</legend>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Size</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="size" placeholder="Number of Subjects" value="{{  flash.entries.size }}"/>
                            {%  if flash.errors.size %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.size %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Start Date</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control dt" name="start" placeholder="Session Start Date and Time" value="{{  flash.entries.start }}"/>
                            {%  if flash.errors.start %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.start %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">End Date</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control dt" name="end" placeholder="Session End Date and Time" value="{{  flash.entries.end }}"/>
                            {%  if flash.errors.end %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.end %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <legend>Task</legend>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" >First Deadline</label>
                        <div class="col-xs-9">
                            <input type='text' class="form-control dt" name="taskOne" placeholder="First Task Deadline" value="{{ flash.entries.taskOne }}"/>
                            {%  if flash.errors.taskOne %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.taskOne %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Second Deadline</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control dt" placeholder="Second Task Deadline" name="taskTwo" value="{{  flash.entries.taskTwo  }}" />
                            {%  if flash.errors.taskTwo %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.taskTwo %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Third Deadline</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control dt" placeholder="Third Task Deadline" name="taskThree" value="{{  flash.entries.taskThree  }}" />
                            {%  if flash.errors.taskThree %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.taskThree %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Allow Subjects to Modify Deadlines</label>
                        <div class="checkbox col-xs-9">
                            <label>
                                <input name="adjustableDeadline" type="checkbox" value="yes"> Yes
                            </label>
                            {%  if flash.errors.deadlines %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.size %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Payoff</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" placeholder="Payoff in Dollars" name="payoff" value="{{  flash.entries.payoff  }}" />
                            {%  if flash.errors.payoff %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.payoff %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Problem Time Limit</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control time" name="timeLimit" placeholder="Time Limit in Hours" value="{{  flash.entries.timeLimit  }}" />
                            {%  if flash.errors.timeLimit %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.timeLimit %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Penalty Rate</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control"  name="penaltyRate" placeholder="Penalty Rate" value="{{  flash.entries.penaltyRate  }}" />
                            {%  if flash.errors.penaltyRate %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in flash.errors.penaltyRate %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-8">
                                <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('.dt').datetimepicker({format: 'MM-DD-YYYY hh:mm a', sideBySide: true});
        });
    </script>
{% endblock %}
