{% extends 'pages/experimenter/experiment/master.twig' %}
{% block body %}
    {% include 'pages/experimenter/experiment/navbar.twig' %}
    <div class="container">
        <div class="page-header">
            <h3>New Session</h3>
        </div>
        <div class="jumbotron">
            <form class="form-horizontal" action="{{  currentUrl()  }}/create" method="post">
                <input type="hidden" name="type" value="task:3_timeLimit_penalty_adjustableDeadline"/>
                <fieldset>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Subjects</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="size" value="{{  size }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Subject Deadline</label>
                        <div class="checkbox col-xs-9">
                            <label>
                                <input name="deadlines" type="checkbox"> Enabled
                            </label>
                        </div>
                    </div>

                    <h4>Task Parameters</h4>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" >Task 1 Deadline</label>
                        <div class="col-xs-9">
                            <input type='text' class="form-control dt" type="datetime" name="task[1]" value="{{ first_task_deadline }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Task 2 Deadline</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control dt" placeholder="MM-DD-YYYY HH:MM AM-PM" name="task[2]" value="{{  second_task_deadline  }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Task 3 Deadline</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control dt" placeholder="MM-DD-YYYY HH:MM AM-PM" name="task[3]" value="{{  third_task_deadline  }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Payoff</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" placeholder="" name="payoff" value="{{  payoff  }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Completion Time Limit</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control time" name="timeLimit" placeholder="Minutes" value="{{  time_limit  }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Penalty Rate</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control"  name="rate" value="{{  penalty  }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-8">
                                <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('.dt').datetimepicker({format: 'MM-DD-YYYY HH:mm:ss'});
        });
    </script>
{% endblock %}
